@import 'base/veriables';

* {
  font-family: MuseoSansCyrl
}
.container {
  max-width: 950px;
  margin: 0 auto;
}
.header__official_min{
  display: none;
}
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/section2';
@import 'blocks/titles';
@import 'blocks/section3';
@import 'blocks/forms';


@import 'base/media';