.reviews {
  padding-bottom: 65px;
  &__title {
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 60px;
  }
  &-item {
    display: flex;
    margin-bottom: 61px;
    &:last-child {
      margin-bottom: 0;
    }
    img {
      width: 169px;
      height: 169px;
      margin-right: 61px;
    }
    &__name {
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      color: #0d0d0d;
    }
    &__evets {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #646464;
      margin-bottom: 10px;
    }
    &__comment {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #0d0d0d;
    }
    span {
      display: block;
      margin-top: 10px;
    }
  }
}
