.section3{
  min-height: 680px;
  padding: 105px 0 108px 0;
  background: url(../img/mid-bg.jpg) center (center/cover) no-repeat;
  &__descr{
    line-height: 31px;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
  }
}