.section4 {
  padding: 81px 0;
  &__carousel {
    position: relative;
    width: 90%;
    margin: 0 auto;
    img {
      width: 90%;
      margin: 0 auto;
    }
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -66px;
      border: none;
      background-color: #ffffff;
      img {
        width: 31px;
        height: 50px;
      }
    }
    .slick-next {
      right: -66px;
      left: auto;
    }
    .slick-dots {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100px;
      height: 23px;
      position: absolute;
      bottom: -124px;
      left: 50%;
      transform: translateX(-50%); 
      list-style-type: none;
      padding-left: 0;
      .slick-active {
        button {
          background-color: #c1b6b6;
          width: 23px;
          height: 23px;
        }
      }
    }
    button {
      background-color: #e8e5e5;
      display: block;
      font-size: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: none;
    }
  }
}
